.img{
    width: 60vw;
    position: relative;
    left: 70px;
    bottom: 40px;
}

p{
    position: absolute;
    top: 500px;
}
.footer{
    position: relative;
    top: 140vw;
    background-color: red;
    width: 100vw;
    height: 10vh;
}
.icons{
    width: 5vw;
    fill: black;
    top: 30px;
}
.facebook{
    position: relative;
    top: 2vh;
}
.instagram{
    position: relative;
    bottom: 0.8vh;
    left: 6vw;
}
.twitter{
    position: relative;
    bottom: 3.6vh;
    left: 13vw;
}
.location{
    width: 6vw;
    position: relative;
    bottom: 6vh;
    left: 85vw;
}
.copy{
    position: relative;
    top: 75vh;
    left: 3vw;
    font-family: 'Old Standard TT', serif;
}