
 /* this is the subcribe button  */
.subscribeBttn{
  position: relative;
  left: 53px;
  border-radius: 50px;
  width: 250px;
  height: 40px;
  background-color:#d63d3f;
  border: solid 1px white;
}
.subscribeHead{
  position: relative;
  transform: translateY(0.5vh);
  /* bottom: 5%; */
  left: 0.5%;
  font-weight: 800;
  font-size: 25px;
  color: white;
  font-family: oswald;
}
.drugUsage{
  color: white;
}
.MainHeadingButton{
  position: relative;
  left: 25vw;
  bottom: 123vh;

}
.MainAPIheading{
  height: 2vh !important;
  overflow: hidden;
  padding-left: 5vw;
}
.MainAPItext{
  height: 5% !important;
  overflow: hidden;
}
/*the five api endpoint and heading text paragraph text */
.BigAPIheading{
  height: 2px !important;
  overflow: hidden;  
}
.SmallTextAPI{
  height: 2px !important;
  overflow: hidden; 
}

/* .SocialMediaAffectsDiv{
  padding-left: 30px 30px;
  position: relative;
  top: 7px;
} */


.Table, th, td{
  color: white;
  border: 10px solid #1b262c ;
  background-color: #1b262c;

}
/* 
tr{
  color: white;
} */

.exchange{
  position: relative;
 left: 7px;
}