.UnsubBtn{
    position: relative;
    top: 94.4%;
    left: 6%;
    border-radius: 50px;
    width: 100px;
    height: 25px;
    background-color:#3282b8;
    border: solid 1px #3282b8;
}
.AdddArticleHeading{
    position: relative;
    left: 16vw;
    color:#eef2f5;
    font-size: 28px;
    font-weight: 700;
    font-family: oswald;
}
.InputField{
    position: relative;
    bottom: 80vw;
}

.UserAddBtn{
   color: white;
   background-color: #d63d3f;
   border: 0.5px solid #d63d3f;
   border-radius: 50px;
   position: relative;
   
}
/* styling of the delete button */
.stylingTextInButton{
    position: relative;
    left: 0.5%;
    font-weight: 500;
    font-size: 13px;
    color: #fff;
    padding-top: 2px;
    font-family: oswald;
    text-transform: uppercase;
}
