* {
    box-sizing: border-box;
  }
  body{
    color: white;
    background-color:#1b262c;
    font-family: oswald;
    color: white;
  }
  .NavbarCircleLogo{
    width: 20%;
    position: relative;
    top: 5vh;
    left: -1vw;
  }
  .LogHeading{
    position: relative;
    left: 20vw;
    bottom: 4vh;
    color: white;
    font-family: oswald;
    font-size: 34px;
  }
  .LogHeadDiv{
    padding: 10px;
  }
  /* .hrLine{
   background-color: white;
  } */
  .hrLine{
    border: white 0.5px solid;
    opacity: 0.5;
    width: 90vw;
    
  }
  /* form section */
  .LogInHeading{
    text-align: center;
  }
  
  .icon{
    fill:#3282b8;
    width: 6%;
    height: 5%;
    position: relative;
    left: 28vw;
    top: 6vh;
  }
  /* Full-width input fields */
    input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  /* Add a background color when the inputs get focus */
  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #d63d3f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity:1;
  }
  .Heading{
    text-align: center;
  }
  .ResetPara{
    text-align: center;
  }
  
  /* Extra styles for the reset button */
  .resetbtn {
    padding: 14px 20px;
    background-color: #f44336;
    text-decoration: none;
    height: 7vh;
  }
  .buttonHeading{
      color: white;
      text-decoration: none;
      font-family: oswald;
  }
  /* Add padding to container elements */
  .container {
    background: #1b262c;
    font-family: 'Oswald', sans-serif;
    padding: 16px;
  }
  p{
      font-family: 'Oswald', sans-serif;
      color: white; 
  }
  h2{
      font-size: 1.9em;
      font-family: 'Oswald', sans-serif;
      color: #fff;  
  }
  label{
      font-family: 'Oswald', sans-serif;
      color: white; 
  }
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for reset button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
      width: 100%;
    }
  }
  .loginLink{
      text-align: center;
      
  }
  
  .test{
  
    width: 10px;
  
  }