/* this is the navbar section */
html{
    overflow-x: hidden;
  }
body{
      background-color: #1b262c;
      overflow: hidden;
      cursor: pointer;
  }
  .NavBar{
      background-color: #171717;
      height: 55px;
  }
#menuToggle {
    display: block;
    position: relative;
    top: 2px;
    left: 315px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}
/* ide scroll styling */
.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  .scrolling-wrapper::-webkit-scrollbar {
    display: none;
  }
  
#menuToggle span {
    display: block;
    width: 35px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    right: 35px;
    background: white;
    border-radius: 3px;
    z-index: 1;
}

.Dms{
    width: 30%;
    position: relative;
    left: 130px;
    top: 110px;
}

 /* The Overlay (background) */
 .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 100vw;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left:-100vw;
    top: 0;
    z-index: 5;
    background-color: rgb(0,0,0); /* Black fallback color */
    /* background-color: rgba(0,0,0, 0.9); Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
    font-size: 1.2em;
    font-family: 'Oswald', sans-serif;

}
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  /* @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  } */
  .MainLineBreak{
    position: absolute;
    top: 9%;
    width: 100%;
    border-color: black;
    border-width: 1px 0 0 0 ;
    }
.logoImage{
  position: relative;
  bottom: 50px;
  width: 78vw;
  height: 10vh;
  right:  20px;
  padding: 5px;
  /* padding-bottom: 0; */
  overflow-x: hidden;
}
 /* test */
h2{
  position: relative;
  left: 20px;
  font-size: 1em;
  bottom: 20px;
}

h3{
    position: relative;
    right: 10px;
    font-size: 1.2em;
    padding-bottom: 15px;
}

.dropdown {
        position: relative;
        display: inline-block;
        z-index: 1;
}

.dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
}

.dropdown:hover .dropdown-content {
      display: block;
}

.politicalButton{
    position: relative;
    left: 0.5%;
    font-weight: 500;
    font-size: 15px;
    color: rgb(202, 105, 14);
    background-color: blue;
    font-family: oswald;
    
}

.socialButton{
    position: relative;
    /* bottom: 5%; */
    left: 0.5%;
    font-weight: 500;
    font-size: 15px;
    color: rgb(202, 16, 16);
    font-family: oswald;
    background-color: blue;
    border-radius: 50px;
}
/* this is the subcribe section */

    /* This is the subscribe button */

.subscribe{
    position: absolute;
    top: 74.4%;
    left: 53px;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    background-color:#d63d3f;
    border: solid 1px white;
}
.subscribeHeading{
    position: relative;
    transform: translateY(0.5vh);
    /* bottom: 5%; */
    left: 0.5%;
    font-weight: 800;
    font-size: 25px;
    color: white;
    font-family: oswald;
}

/* This is the newspaper svg image */
#newspaper{
    position: absolute;
    fill: white;
    left: 75px;
    width: 200px;
    height: 100px;
}
 
.popupWrapper{
   background:  rgba(0,0,0,0.5);
   position: fixed;
   width:100%;
   height:100%;
   bottom: 2vh;
   left:0;
   display: none; 
}
.popup{
    background: black;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    width:100%;
    max-width: 600px;
    height: 580px;
    margin:10% auto;
    position:relative;
    padding: 5%;
    bottom: 25px;
}

h2{
    position: absolute;
    top: 250px;
    left: 20px;
}

input{
    position: relative;
    top: 350px;
    width: 300px;
    height: 30px;
    background: white;
}

#signmeup{
    position: absolute;;
    top:410px;
    left: 33px;
    width:300px;
    height: 30px;
    background: #d63d3f;
    color: white;
    text-decoration: none;
    padding: 3px 20px ;
    
}

.close{
    position: absolute;
    color: white;
    opacity: 1;
    top:5px;
    right: 8px;
    cursor: pointer;
}

#discover{
    position: absolute;
    left: 24%;
    color: white;
    font-size: 1.9em;
}

/* This is the no thanks message underneath the sign me up button */
.Thanks{
    position: absolute;
    text-decoration: underline;
    color: white;
    top: 460px;
    left: 120px;
}

/* This is the privacy policy <p> tag */

#privacy{
    color:white;
    text-decoration: underline;
}
#para{
    color: white;
    
}
.footer{
    position: fixed;
    bottom: 0;
    background-color: #0f4c75;
    width: 100vw;
    transform: translateY(2vh);
}

.iconPlaceholder{
    padding: 0 0 0 7vw;
}
.icon{
    display: inline-block;
    width: 7vw;
    fill: white;
    transform: translateY(1.5vh);
}
.location{
    margin-left: 54vw;
    color: white;
}
.copy{
    letter-spacing: 0.2rem;
    font-family: 'Old Standard TT', serif;
    color:white;
    font-size: 12px;
    font-weight: 400;
    margin-top: -2vh;
}

.footerHr{
    border: white 0.5px solid;
    opacity: 0.5;
    width: 90vw;
    margin-left: 5vw;
}
a{
    color: black;
}
.bigHeading{
    color: black;
    text-decoration: underline;
    font-weight: 800;
    font-size: 1.3em;
    font-family: 'Oswald', sans-serif;
}
.smallHeading{
    color: black;
    text-decoration: underline;
    font-weight: 800;
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
}