/* this is the subcribe button  */
.subscribeBttn{
    position: relative;
    left: 53px;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    background-color:#d63d3f;
    border: solid 1px white;
}
.subscribeHead{
    position: relative;
    transform: translateY(0.5vh);
    /* bottom: 5%; */
    left: 0.5%;
    font-weight: 800;
    font-size: 25px;
    color: white;
    font-family: oswald;
}
.drugUsage{
    color: white;
}
/* .newsColumns{
display:block;
width: 12.15rem;
padding-left: 15px;
position: relative;
bottom: 2vh;
margin-left: 3%;
} */


/* this is the two different divs styled to have the same look and feel using one same  source bases to look like the big social articls */
.PoliticsWeighingUsDownDiv{
    position: relative;
    top: 1.1vh;
    height: 65vh;
}

#UpcomingElectionsDiv{
    height: 65vh;
    position: relative;
    top: 19vh;
}
/* different api endpoint heading and paragraph text for the two big political news*/
.MainAPIheading{
    height: 2vh !important;
    overflow: hidden;
    padding-left: 5vw;
}
.MainAPItext{
    height: 5% !important;
    overflow: hidden;
}
/*the five api endpoint and heading text paragraph text */
.BigAPIheading{
    height: 2px !important;
    overflow: hidden;  
}
.SmallTextAPI{
    height: 2px !important;
    overflow: hidden; 
}

 /* this is the five different divs styled to have the same look and feel using the same different source base */
.APIdiv{
    height: 55vh !important;
}

 /* this is the 1st of the small article of the political news */
.PeoplesViewDiv{
    width: 13.15rem;
    position: relative;
    top: 0.5vh;
    height: 47vh;
    right: 2.5vw;
 
}

 /* this is the 2nd of the small article of the political news */
.UnionAsemblyDiv{
    width: 13.15rem;
    position: relative;
    bottom: 54.7vh;
    left: 47vw;
    height: 47vh;

}


 /* this is the 3rd of the small article of the political news */
 .delegationsDiv{
    width: 13.15rem;
    position: relative;
    top: 22vh;
    height: 47vh;
    right: 2.5vw;
 
}
/* this is the 4th of the small article of the political news */
  .mediaBriefDiv{
    width: 13.15rem;
    position: relative;
    bottom: 33.62vh;
    left: 47vw;
    height: 47vh;

}
 /* this is the 5th of the small article of the political news */
 .ElectionsDiv{
    width: 13.15rem;
    position: relative;
    top: 38.5vh;
    height: 47vh;
    right: 2.5vw;
 
}
 /* this is the 6th of the small article of the political news */
 .MinistersDiv{
    width: 13.15rem;
    position: relative;
    bottom: 16.7vh;
    left: 47vw;
    height: 47vh;


}
/* this is the 7th of the small article of the political news */
.PeoplesOpnionDiv{
    width: 13.15rem;
    position: relative;
    top: 58vh;
    height: 47vh;
    right: 2.5vw;
 
}
 /* this is the 8th of the small article of the political news */
 .StructuresDiv{
    width: 13.15rem;
    position: relative;
    top: 3vh;
    left: 47vw;
     height: 47vh;

}



