/* This is the class of the media icons beneath the cartoons*/
.comment{
    display: inline-block;
    width: 50px;
    height: 50px;
     margin-top: 10px; 
     margin-right: 12px; 
     padding: 4px; 
    fill:#3282b8;
}
/* this is the subcribe button  */
.subscribeButton{
    position: relative;
    left: 53px;
    border-radius: 50px;
    width: 250px;
    height: 40px;
    background-color:#d63d3f;
    border: solid 1px white;
}
.subscribeHeading{
    position: relative;
    transform: translateY(0.5vh);
    /* bottom: 5%; */
    left: 0.5%;
    font-weight: 800;
    font-size: 25px;
    color: white;
    font-family: oswald;
}
.PrivacyTextOnly{
    color: white;
    position: relative;
    top: 44vh;
}
/* The heading of the page thats on the side and it overlays the first cartoon. It is
 animated to slide in from the right to give it a more dynamic feel. */

.MainHeadingButtontop{
    position: relative;
    left: 15vw;
    bottom: 56vh;
    border-radius: 50px;
    width: 980px;
    height: 45px;
    padding-top: 5px;
    background-color:#d63d3f;
    border: solid 1px white;
    text-transform: uppercase;
    z-index: 2;
    animation-name: HeadingMotion;
    animation-duration: 4s;
}
.MainHeadingtop{
    position: relative;
    transform: translateY(0.5vh);
    font-weight: 300;
    font-size: 25px;
    color: white;
    font-family: 'Old Standard TT', serif;
    text-transform: uppercase;
    padding-right: 647px;
    
}  
/* This is the animation of the main Heading button on top of the page */
  @keyframes HeadingMotion {
    from {transform: translateX(170px);
    }
    to {transform: translateX(-30px);
    }
  }

/* This is the styling of the images in the NASA News page */

/* This is the styling of the first div on  nasa page */
.Astronomy{
    position: relative;
    bottom: 0.897vh;
}
#image{
    position: relative;
    width: 100vw;
    height: 42vh;
}
#marsImage{
    position: relative;
    width: 100vw;
    height: 42vh;

}
#plutoImage{
    position: relative;
    width: 100vw;
    height: 42vh;

}
#MoonImage{
    position: relative;
    width: 100vw;
    height: 42vh;
}